@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  ::-webkit-scrollbar-track {
    margin-block-start: 56px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    border: 4px solid rgba(31, 41, 55, 0.2);
  }

  .topBtn {
    @apply rounded-full shadow-sm p-3 text-amber-400 bg-black transition-all duration-500 hover:bg-green-500 hover:text-black hover:ring-2 ring-white
  }
  .wrapper {
    @apply h-screen snap-y snap-mandatory scrollbar scrollbar-track-gray-800 scrollbar-thumb-amber-400 hover:scrollbar-thumb-amber-300;
  }
}
